body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  color: #333;
  text-align: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 250px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  margin-left: 5px;
  border: none;
  background: #360676;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #bc51ed;
}

.hidden {
  display: none;
}

#results {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.saved {
  background: #d4edda;
}

#error {
  color: red;
}
#favList{
    list-style: none;

}